@mixin button {
  height: 42px;
  padding: 12px 14px;

  background-color: var(--main);
  color: var(--title);

  border: none;
  border-radius: 4px;

  font-size: 1rem;
  font-weight: bold;

  transition: filter 0.2s;

  &:hover:not([disabled]) {
    filter: brightness(1.2);
  }

  &:active:not([disabled]) {
    filter: brightness(0.8);
  }

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}

.loaded {
  @include button;

  background-color: var(--main);
  color: var(--title);
}

.loading {
  @include button;

  background-color: var(--surface);

  padding: 12px 32px;

  cursor: default;

  &:hover:not([disabled]) {
    filter: none;
  }

  &:active:not([disabled]) {
    filter: none;
  }

  &[disabled] {
    opacity: 1;
  }
}
