.container {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  padding-top: 100px;
}

.header {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top: 0;
  left: 0;

  padding: 32px 16px;

  > div {
    button + button {
      margin-left: 8px;
    }
  }

  h1 {
    color: var(--title);
  }
}

.loaderContainer {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cardsContainer {
  width: 100%;

  padding: 16px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
