.container {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 875px) {
    height: 100%;
  }
}

.header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px;

  > div {
    display: flex;
    align-items: center;

    button + button {
      margin-left: 8px;
    }
  }

  h1 {
    color: var(--title);
  }

  @media (max-width: 640px) {
    flex-direction: column;

    h1 {
      margin-top: 8px;
    }
  }
}

.points {
  margin-bottom: 16px;

  color: var(--main);

  animation: fade 0.5s ease-in;
}

.content {
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.loaderContainer {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cardsContainer {
  width: 100%;

  padding: 16px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
